*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Slab', serif;
}
nav{
    width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .left-block{
    width: 220px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
nav .left-block .logo{
    width: 21px;
    height: 21px;
    position: relative;
    top: 8px;
    background-color: #FF2E63;
}
nav .left-block h1{
    color: #252A34;
    font-size: 27px;
    font-family: 'Playfair Display', serif;
}
nav .right-block{
    display: flex;
    width: 420px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header{
    height: 95vh;
    background: #08d9d6;
    background: linear-gradient(90deg, rgba(8,217,214,1) 0%, rgba(8,217,214,1) 40%, rgba(255,255,255,1) 40%);
    display: flex;
    justify-content: center;
    align-items: center;
}
header .card{
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 20px 2px rgba(37, 42, 52,0.2);
}
header div .left-card{
    display: flex;
    height: 600px;
    width: 400px;
    flex-direction: column;
}
header div .left-card div{
    height: 520px;
    background-color: #08d9d6;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div .left-card .data{
    height: 420px;
    display: flex;
    color: #252A34;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
header div .left-card .data img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
header div .left-card .data h2{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}
header div .left-card .data p{
    font-size: 20px;
    font-weight: 500;
}
header div .left-card .data hr{
    width: 100px;
    border: 2px solid #FF2E63;
    border-radius: 4px;
}
header div .left-card .socials{
    height: 80px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 20px 2px rgba(37, 42, 52,0.2);
}
header div .left-card .socials div{
    width: 200px;
    display: flex;
    height: 100%;
    background-color: inherit;
    justify-content: space-around;
    align-items: center;

}
header div .left-card .socials ion-icon{
    font-size: 30px;
    color: #252A34;
}
header div .left-card .socials ion-icon:hover{
    cursor: pointer;
    color: #FF2E63;
}

header div .right-card{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 40px 40px 60px;
}
header div .right-card h2 ,header div .right-card h3{
    color: #252A34;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
header div .right-card h2 {
    font-size: 60px;
}
header div .right-card h3{
    font-size: 30px;
}
header div .right-card h3 span{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
} 
header div .right-card button{
    font-size: 18px;
    font-weight: 600;
    padding: 7px 30px;
    margin: 0px 10px;
    border-radius: 40px;
}
header div .right-card .resume{
    color: #fff;
    background-color: #FF2E63;
    border: 2px solid #FF2E63;
}
header div .right-card .resume:hover{
    cursor: pointer;
    color: #FF2E63;
    background-color: #fff;
}
header div .right-card .projects{
    color: #FF2E63;
    border: 2px solid #FF2E63;
    background-color: #fff;
}
header div .right-card .projects:hover{
    cursor: pointer;
    background-color: #FF2E63;
    color: #fff;
}
header div .right-card p{
    color: #252A34;
}